<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>

	<title>.: Sofhy :.</title>

</h:head>
<h:body>
	<div align="center">
		<h:form style="width: 550px; height: 1020px;">
			<h3>Login</h3>
			<h:outputText value="Username" />&nbsp;&nbsp;&nbsp;
			<h:inputText id="username" value="#{login.user}"></h:inputText>
			<h:message for="username"></h:message>
			<br> </br>
			<h:outputText value="Password" />&nbsp;&nbsp;&nbsp;
			<h:inputSecret id="password" value="#{login.pwd}"></h:inputSecret>
			<h:message for="password"></h:message>
			<br> </br>
			<br> </br>
			<h:commandButton action="#{login.validateUsernamePassword}"
				value="Login"></h:commandButton>
		</h:form>
	</div>
</h:body>

</html>